<a href="https://colab.research.google.com/github/SasamiScott/Video-Games-and-Player-Retention/blob/master/HDSI_Research.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pickle
import numpy as np
import urllib.request
import time
import pandas as pd
import json
import re

In [2]:
from google.colab import drive
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/gdrive

# Gathering User Data

In [0]:
#This contains code and data from McAuley 
user_f = '/content/gdrive/My Drive/Colab Notebooks/user_id_lookup.txt'
users = pickle.load(open(user_f,'rb'))

#From his user file I want every userId on record, but this are mixed with usernames
user_ids = []
for id in range(len(users)):
  try:
    int(users[id]) #ids are all numbers
    if len(users[id]) == 17 and users[id][0] == '7': # ids are 17 chracters and begin with 7
      user_ids.append(users[id])
  except:
    continue
  
print("Number of User Ids: " + str(len(user_ids)))

Number of User Ids: 14445

In [0]:
#Set ups the non changing components of the url I'm using to test userIds and get user data on games owned
u_base = 'http://api.steampowered.com/IPlayerService'
u_db = 'GetOwnedGames/v0001'
u_key = '?key='
key = 'A43433F6225B90C91D6DD1F3783AF943'
u_format = 'format=json'
u_id = 'steamid='

public_users = [] #Ids
public_user_data = [] #Games owned and associated playtimes

In [0]:
# PERSONAL: check 13000 - 14445 again only a 22 user id difference from 12000 - 13000

for i in range(1, len(user_ids)): # INCREMENT RANGE TO 1000
  user_x = user_ids[i]
  steamids = user_x # the user id is the only url segment that changes
  url = u_base + '/' + u_db + '/' + '?' + u_key + key + '&' + u_id + steamids + '&' + u_format
  with urllib.request.urlopen(url) as response:
    xml = response.read()
    if len(xml) > 15: # data will be over 15 chracters long if the user's settings are set to public
      public_users.append(user_x)
      public_user_data.append(xml)
    time.sleep(1) # Add a second for each iteration to avoid SteamApi data limits

In [0]:
bad_users = [5948, 6924, 9755] #indexes of weird ids that go beyond my search parameters (i.e. deleted or dumb user names)

'76569696969696961'

In [0]:
# Turns the jsons in to dicts to panda datrames and combines them
# 1st public user is the base dictionary 
public_user_dict = json.loads(public_user_data[0][12:-1]) # 0-12 and -1 are indexes that hold response formatting
public_user_dict['userId'] = public_users[0] # add userId for future reference
user_df = pd.DataFrame([public_user_dict], columns=public_user_dict.keys())

# Same process for all other users
for j in range(1, len(public_user_data)):
  userx_data = json.loads(public_user_data[j][12:-1])
  userx_data['userId'] = public_users[j]
  user_df = user_df.append(userx_data, ignore_index=True)

In [0]:
#processed users were initialled stored in 2 dataframes
#user_df.to_csv(r'/content/gdrive/My Drive/Colab Notebooks/user_df2.csv')
#user_df2 = pd.read_csv('/content/gdrive/My Drive/Colab Notebooks/user_df.csv')

In [0]:
#Combined and saved table with new indexes
#public_user_table = user_df2.append(user_df, sort=False).reset_index().drop(['index', 'Unnamed: 0'], axis=1)
#public_user_table.to_csv(r'/content/gdrive/My Drive/Colab Notebooks/public_user_table.csv')

# Organizing and Gathering Game Data

In [0]:
public_user_table = pd.read_csv('/content/gdrive/My Drive/Colab Notebooks/public_user_table.csv', index_col=[0])

In [0]:
appids_list = []
for i in range(public_user_table.shape[0]):
  str_data = public_user_table.iloc[i]['games']
  appids = re.findall(r"d'*:* +[0-9]*[,]", str_data)
  for i in range(len(appids)):
    appids[i] = appids[i][4:-1]
  appids_list.append(appids)

playtime_list = []
for i in range(public_user_table.shape[0]):
  str_data = public_user_table.iloc[i]['games']
  playtime = re.findall(r"playtime_forever'*:* +[0-9]*[,]", str_data)
  for i in range(len(playtime)):
    playtime_list.append(playtime[i][19:-1])

public_user_table['appid'] = appids_list

In [0]:
lst_col = 'appid'

user_table = pd.DataFrame({
      col:np.repeat(public_user_table[col].values, public_user_table[lst_col].str.len())
      for col in public_user_table.columns.drop(lst_col)}
    ).assign(**{lst_col:np.concatenate(public_user_table[lst_col].values)})[public_user_table.columns]

In [53]:
user_table = user_table.drop('games', axis=1)
user_table['playtime (min)'] = playtime_list
user_table

        game_count             userId    appid playtime (min)
0               88  76561198156664158     4000            281
1               88  76561198156664158    17390           1217
2               88  76561198156664158    33910            162
3               88  76561198156664158    33930            226
4               88  76561198156664158   219540              0
...            ...                ...      ...            ...
484417         193  76561198091169263   356650            137
484418         193  76561198091169263   582010           9970
484419         193  76561198091169263   617290            896
484420         193  76561198091169263  1085660             60
484421         193  76561198091169263   329430              0

[484422 rows x 4 columns]

In [54]:
game_list = user_table['appid'].unique()
len(game_list)

16747